/.phpunit.cache
node_modules/
/public/build
/public/uploads
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode    
/.htaccess
composer.lock
package-lock.json
storage/*.key
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
.well-known/
/public/robots.txt
config.bat
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
